aiofiles
aiohttp
aria2p
beautifulsoup4
cfscrape
cryptg
dnspython
emoji
googletrans
google_images_download
gtts
hachoir
Pillow
psycopg2
pymongo
pySmartDL
python-barcode
python-magic
psutil
qrcode
regex
requests
selenium
speedtest-cli
sqlalchemy
telegraph
urbandict
wikipedia
youtube-dl
google-api-python-client
oauth2client
httplib2
pytube
PyGithub
